<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSE View Page</title>
</head>
<body>
    <button onclick="subscribeStock()">실시간 주식정보 연동 Start</button>
    <li id="sse-stock-market">
        주식 정보 없음
    </li>

</body>
<script type="text/javaScript">
    function subscribeStock() {
        const eventSource = new EventSource(url);

        eventSource.onopen = () => {
            // 연결 하면 할 일
        };

        eventSource.onmessage = async (e) => {
            const res = await e.data;
            const parsedRes = JSON.parse(res);

            // 데이터를 받아온 후 할 일
            console.log(parsedRes);
        };

        // 에러 발생 시 할 일
        eventSource.onerror = (e) => {

            eventSource.close(); // sse 종료

            if (e.error) {
                // 에러 발생 시 할 일
                console.log('error 발생')
            }

            if (e.target.readyState === EventSource.CLOSED) {
                // 종료 시 할 일
                console.log('closed');
            }
        };
    }
</script>
</html>